*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap'); 
* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
  font-family: 'Open Sans', sans-serif; 
}

body {
  background: #fff;
/*  margin-left: 70px;
  margin-top: 10px;*/
}
.margen{
    margin-left: 70px;
  margin-top: 10px;
}
header {
  background-color: #fff;
  color: #000;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000px;
  box-shadow: #000;
}

.colorXD{
  color: #7e7b7b;
}
.logo img {
  max-width: 700px; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.main{

  color: #000;
  padding: 20px 60px;
}

.hero{
  background-color: #f2f2f2;
  width: 100%;
  height: 85vh;
  border-radius: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 70px;
}

.section-hero h1{
  font-size: 50px;
  color: #707070;
}

.section-hero{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-hero p{
  font-size: 20px;
  color: #707070;
}

.hero-button {
  display: inline-block;
  padding: 10px 40px; 
  margin-top: 30px; 
  border-radius: 5rem;
  border: 0; 
  cursor: pointer; 
  color: #fff;
  background-color: #000;
  font-size: 1em;
  font-weight: 600;
  transition: 0.3s all ease;
  width: 250px;
}

.principal-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.main-principales1{
  background-color: #F2F2F2 ;
  padding: 60px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-principal{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-principales1 button{
  background-color: #fff;
  color: #000;
  font-size: 15px;
  padding: 2px 7px;
  border: none;
  border-radius: 5000px;
}

.main-principales1 .btn2{
  background-color: #000;
  color: #fff;
  padding: 10px;
  width: 250px;
}

.btn2 button{
  background-color: #000;
}

.button-principal

.main-principales1 div h1{
  color: #000;
}

.principal-parrafo{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.principal-parrafo p{
  color: #707070;
}
.color2{
  color: #707070;
}
.cards-tempalte{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.principal-card{
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 30px;
}


.main-card{
  background-color: #EFEFEF ;
  height: 70vh;
  
}

.main-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;  
}

.cards{
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 10px ;
  padding: 7px;
  background-color: #FFFFFF ;
}

.main-card-header p{
  color: #000;
}

.title-cards{
  position: absolute;
  bottom: 0;
  padding: 15px;
}

.card-img{ 
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 185px;
  overflow: hidden;
  background-color: #F2F2F2 ;
}

.card-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.colorp{
  color: #424141;
}
.card-star{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 8px;
}

.card-star img{
  width: 100%;
}

.card-button{
  position: absolute;
  bottom: 0;
  padding: 15px;
  
}
.bi-star-fill {
  fill: #C1C1C1;
  transform: scale(2);
}
.card-button button{
  background: #ffffff;
  color: #707070;
  font-weight: 400;
  font-size: 15px;
  padding: 3px 7px;
  border: 1px solid #ffffff;
  border-radius: 999px;
}

.main-card-grid{
  padding: 20px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

footer{
  background-color: #fff;
  color: var(--second-c);
  color: #000000;
}
footer ul{
  padding:0;
}
footer li{
  list-style: none;
}
.wrap-footer{
  display: grid;
  grid-template-columns: 40% 15% 15% 20%;
  column-gap: 10%;
  padding: 1rem;
  /* margin: 2rem auto; */
  padding: 50px 60px;
  background-color: #707070 ;
}
.logo-element_footer{
  display: flex;
  margin: 2rem 0;
}
.logo-element_footer img{
  max-height: 75px;
}
.element-footer h5{
  margin: 1rem 0;
}
.text-element-footer li{
  line-height: 2;
}
.link-elements-footer li a{
  color:#FFC300;
}
.rrss-element-footer ul{
  display: flex;
  flex-flow: wrap;
}
.rrss-element-footer img{
  width: 35px;
}
.rrss-element-footer li{
  margin-right: 1rem;
}
.footer-creds{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #787878;
  font-size: .9rem;
  max-width: 1200px;
  margin: 0 auto;
}
.legal-creds ul{
  display: flex;
  flex-flow: row;
}
.legal-creds ul li{
  padding-right: 1rem;
}
.legal-creds ul a{
  color: #576171;
  font-size: .9rem;
}
p{
  color: #fff;
}

.text-element-footer p{
  color: #000;
}

.button-principal p {
  color: #707070;
  
}

.prt {
  color: #707070;
  ;
}